/* Default styles for all screens */
body {
    font-family: 'Consolas', monospace;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Responsive styles for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

/* Responsive styles for screens larger than 768px (e.g., tablets and desktops) */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}
